/*.keepSignedIn {
	content: "";
	width: 18px;
	height: 18px;
	border-radius: 2px;
	border: solid #7057d2;
	border-width: 2px;
	margin-top: 2px;
	-webkit-transition: all;
	transition: all;
	transition-duration: 0s;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
}*/
.moveMenu {
	margin-top: 75px;
	margin-left: 30%;
}
.fullName {
	margin-top: 50px;
	margin-left: 25%;
}
.logOff {
	margin-left: 12%;
}
.btnWide {
	margin-top:15px;
	width: 100%;
}
#RoleName {
	width: 100%;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #c9c8c8;
	
}
#UserIds {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #c9c8c8;
}
#ProjectIds {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #c9c8c8;
}
.userRoleTable {
	width: 100%;
}
.descriptionBox {
	width: 100%;
	height: 100px;
}
.issueBox {
	width: 100%;
}
.firstRowDashboard {
	max-height: 120px;
	
}
.projectCreateTicket {
	padding:100px !important;
}
.projDetails {
	min-height:160px;
}
.projDetailBody {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.dashboardTopRow{
	height: 120px;
}
.dashboardSecondRow {
	height: 200px;
}
.underIcon {
	margin-bottom: 0rem !important;
}
.largeCard {
	padding-top: 24px !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
	padding-bottom: 5px !important;
}
.noMargin {
	margin-left: -6px;
	margin-right: -6px;
}
.projectDetails {
	color: white !important;
}
.modalIcon {
	color: #ffffff !important;
}
.modalIcon:hover {
	color: #ffffff !important;
}
.matchButton {
	padding: 8px 14px;
	height: 79px;
	line-height: 64px;
}
.addTicketModal {
	margin: auto !important;
}
.modalPriority {
	margin-right: 10px;
}
.typeLabel {
	margin-right: 5px !important;
}
.ticketDetails {
	min-height: 200px;
}
.noPaddingBtn {
	padding: 0px 0px !important;
}